
h1 {
  background-color: lavender;
  text-align: center;
  font-family: 'Vidaloka', serif;
  width: 700px;
  margin: auto;

}
body {
 background: radial-gradient(circle, black, white);
}

table {
  width: 90%;
  border-radius: .5em;
  border: 1em solid grey;
  color: white;
  margin: auto;
  background-color: grey;
  padding: .5em;
}

 th, td {
   /*border-radius: .5em;*/
   /*border: 1px solid white;*/
   text-align: center;
   padding: 3px;
}

tr:nth-child(odd) {
  background: black;
}
tr:nth-child(even) {
  color: black;
  background-color: white;
}


fieldset {
  font-size: 1.5em;
  background-color: black;
  color: white;
  margin: 3em;
}
