h2 {
  background-color: green;
}
body {
  background-image: url("img/campfire-coffee.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#navbar {
  display: flex;
  justify-content: space-around;
  background-color: green;
}
#header {
  /*background-color: lightgreen;*/
  height: fixed;
  width: fixed;
  /*border: 2px solid grey;*/
  margin: auto;
  text-align: center;
  font-family: 'Vidaloka', serif;
}
#footer {
  height: fixed;
  length: fixed;
  background-color: green;
  padding: 20px;
  margin: 10px;
}
img {
  margin: 5px;
}

   {
  background-color: blue;
}

body {
  background-color: #609732;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    border: 2px solid grey;
    color: yellow;
    margin: auto;
    background-color: orange;
}

 th, td {
   border: 1px solid white;
   text-align: center;
   padding: 3px;
}

tr:nth-child(odd) {
    background-color: red;
}
fieldset {
  background-color: orange;
  margin: 8px;
}
