body {
  background-color: beige;
}

table {
    border-collapse: separate;
    border-spacing: 5px 5px;
    border: 1px solid grey;
    color: yellow;
    margin: auto;
    background-color: orange;
}

 th, td {
   border: 1px solid white;
   text-align: center;
   padding: 3px;
}

tr:nth-child(odd) {
    background-color: red;
}
fieldset {
  background-color: orange;
  margin: 8px;
}
